:root {
  margin: 0;
  padding: 0;
  --primary-bg-color: burlywood;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-bg-color);
}

header h1 {
  margin: 0;
  padding: 0;
}

header p {
  margin: 0;
  padding: 0;
}
